extends ./layout.jade
block css
    link(href='/css/index.css', rel='stylesheet')
    link(href="/css/vendor/gridster/gridster.css", rel='stylesheet')
    for plugin in filteredPlugins
        link(href="/plugin/#{plugin.getId()}/css/#{plugin.getId()}.css", rel="stylesheet")
block content
    h1#page-title
        i.fa.fa-chevron-right(aria-hidden="true")
        span.name
        span.layout
    div#layout-wrapper
        .loading
            .loader
        #layout



    i#settings-button.fa.fa-cog
    .global-settings
        ul
            li
                a#add-module
                    i.fa.fa-plus
                    |  Add module
            li 
                a(href="/settings")
                    i.fa.fa-wrench
                    |  Settings
            li#edit-layout
                a
                    i.fa.fa-th
                    |  Edit Layout

    #pages-overlay
    #pages
        div.icons
            a.close-panel
                i.fa.fa-chevron-left(aria-hidden="true")
                |   Pages
            a.add
                i.fa.fa-plus
            a.edit
                i.fa.fa-pencil
        ul

    #module-modal.modal.fade(tabindex="1", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Module Settings
                .modal-body
                    p.item
                        a.edit(href="")
                            i.fa.fa-pencil
                            | Module settings
                    p.item.move
                        a
                            i.fa.fa-pause
                            | Move to page
                    hr
                    p.item.module-sizes
                        a
                            i.fa.fa-expand
                            | Resize:
                    hr
                    p.item.delete
                        a
                            i.fa.fa-times
                            | Delete

                    

    #layout-edit-mode
        .icon
        .message
            | You're editing the layout, click on modules to move and set them up
        .close-editing
block scripts
    script(src="/js/vendor/gridster/gridster.js")
    script(src="/js/index.js")
    script(src="/js/pages.js")
    for plugin in filteredPlugins
        script(src="/plugin/#{plugin.getId()}/js/#{plugin.getId()}.js")
        
    for plugin in plugins
        script(type="text/javascript").
            var moduleId = #{plugin.getModule().getId()};
            MODULES[moduleId] = new #{plugin.getId()}(moduleId);
    script(src="/js/websocket.js")
