extends ./layout.jade
block css
    link(href='/css/index.css', rel='stylesheet')
    link(href="/css/vendor/gridster/gridster.css", rel='stylesheet')
    for plugin in filteredPlugins
        link(href="/plugin/#{plugin.getId()}/css/#{plugin.getId()}.css", rel="stylesheet")
block content
    h1#page-title
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.name
        span.layout
    div#layout-wrapper
        .loading
            .loader
        #layout

    #notification.success
        .icon
        .message
            | Test notification

    span#settings-button.glyphicon.glyphicon-cog
    .global-settings
        ul
            li
                a#add-module
                    span.glyphicon.glyphicon-plus
                    |  Add module
            li 
                a(href="/settings")
                    span.glyphicon.glyphicon-wrench
                    |  Settings
            li#edit-layout
                a
                    span.glyphicon.glyphicon-object-align-top
                    |  Edit Layout

    #pages-overlay
    #pages
        div.icons
            a.close-panel
                span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                |   Pages
            a.add
                span.glyphicon.glyphicon-plus(aria-hidden="true")
            a.edit
                span.glyphicon.glyphicon-pencil(aria-hidden="true")
        ul

    #module-modal.modal.fade(tabindex="1", role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title Module Settings
                .modal-body
                    p.item
                        a.edit(href="")
                            span(class="glyphicon glyphicon-pencil")
                            | Edit settings
                    p.item.move
                        a
                            span(class="glyphicon glyphicon-pause")
                            | Move to page
                    hr
                    p.item.module-sizes
                        a
                            span(class="glyphicon glyphicon-resize-full")
                            | Resize:
                    hr
                    p.item.delete
                        a
                            span(class="glyphicon glyphicon-remove")
                            | Delete

                    
                    
                
block scripts
    script(src="/js/vendor/gridster/gridster.js")
    script(src="/js/index.js")
    script(src="/js/pages.js")
    for plugin in filteredPlugins
        script(src="/plugin/#{plugin.getId()}/js/#{plugin.getId()}.js")
        
    for plugin in plugins
        script(type="text/javascript").
            var moduleId = #{plugin.getModule().getId()};
            MODULES[moduleId] = new #{plugin.getId()}(moduleId);
    script(src="/js/websocket.js")
