extends ./layout.jade
block css
    link(href='/css/module-settings.css', rel='stylesheet')
block content
    .head-links
        a(href="/") << Back
    h1 Settings for #{pluginName}

    if errors
        .alert.alert-danger(role="alert")
            each message, title in errors
                p
                    strong
                        #{title}
                        | :&nbsp;
                    #{message}


    form(action="/save-module", method="post")
        if pluginClass
            input(type="hidden", name="class", value="#{pluginClass}")
        else if plugin
            input(type="hidden", name="class", value="#{plugin.getClass().getCanonicalName()}")
            input(type="hidden", name="module_id", value="#{plugin.getModule().getId()}")
            
        .row
            .col-md-12
                !{settings}
        .row
            .col-md-12
                input(type="submit", class="btn btn-primary", value="Save")

block scripts
