extends ./layout.jade

block css
    link(href='/css/kiosk.css', rel='stylesheet')
    link(href='/plugin/#{plugin.getId()}/css/#{plugin.getId()}.css', rel='stylesheet')
block scripts
    script(src="/js/websocket.js")
    script(src="/js/kiosk.js")


    script(src='/plugin/#{plugin.getId()}/js/#{plugin.getId()}.js', type='text/javascript')
    script(type="text/javascript").
        var MODULE = new #{plugin.getId()}(#{plugin.getModule().getId()});

block content

    div(class="content size-kiosk #{plugin.getId()}")
        !{html}


