.gridster
    for layout in layouts
        .gridster-item(data-row="#{layout.getY()}", data-col="#{layout.getX()}", data-sizex="#{layout.getWidth()}", data-sizey="#{layout.getHeight()}",  data-module="#{layout.getModule().getId()}")
            div(class="module #{layout.getSize()}", data-module="#{layout.getModule().getId()}", data-size="#{layout.getSize()}")
                .module-settings
                    .module-settings-icon(data-id="#{layout.getModule().getId()}")
                        span(class="glyphicon glyphicon-option-horizontal")


                .settings-overlay
                .loading
                    .loader
                div(class="content #{plugins.get(layout.getModule().getId()).getId()} size-#{layout.getSize()}")
                    !{plugins.get(layout.getModule().getId()).getView(layout.getSize())}
